# Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
target/

# JavaCC
src/main/java/org/dei/perla/lang/parser/ParseException.java
src/main/java/org/dei/perla/lang/parser/Parser.java
src/main/java/org/dei/perla/lang/parser/ParserConstants.java
src/main/java/org/dei/perla/lang/parser/ParserTokenManager.java
src/main/java/org/dei/perla/lang/parser/SimpleCharStream.java
src/main/java/org/dei/perla/lang/parser/Token.java
src/main/java/org/dei/perla/lang/parser/TokenMgrError.java
